<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SSO Local App</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <style>
        html,
        body {
            margin: 0;
            background-color: #242424;
            color: #FFFFFF;
        }
    </style>
</head>

<body>
    <div class="ui equal width center aligned padded grid">
        <div class="row">
            <div class="column">
                <h1>Simple Sign In App Example</h1>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <a href="/auth/google">
                    <button class="ui google plus button">
                        <i class="google plus icon"></i>
                        Sign In with Google
                    </button>
                </a>
            </div>
        </div>
        <div class="row">
        </div>
    </div>
</body>

</html>